.Help{
    margin-top: 15px;
    width: 314px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #535353;
}

.Help-icon-tg{
    color: lightskyblue;
}

.Help-icon-vb{
    color: lightskyblue;
}
